* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    overflow-x: hidden;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    height: 4.68vw;
    width: 73.2vw;
    padding: 2vw 3vw;
    border-radius: 16px;
    background: rgba(51, 51, 51, 0.13);
    backdrop-filter: blur(96px);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    z-index: 1;
}


.nav1 {
    display: flex;
    gap: 2vw;
}

a {
    transition: color 0.15s ease-in, font-weight 0.15s ease-in;
}

a:hover {
    color: #5D3FD3;
    font-weight: bolder;

}


.nav2 {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    align-self: center;
    width: 25%;

}


.main_container {
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vw auto;

}

.landing_page {
    text-align: center;
    width: 100%;
    margin-top: 13vw;
    margin-bottom: 2.5vw;
    font-size: 7.8vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    line-height: 7.8vw;
}

.landing_page_img img{
    height: 44vw;
    width: 100%;
    margin:0 auto;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 3.12vw;
    padding: 3.12vw 0;
    margin:0 auto;
    margin-top: 6.24vw;
    
}
.p img{
    width: 100%;
    height: auto;
}


.p {
    /* padding: 12px; */
    transform: scale(1);
    transition: all 0.12s ease-in;
}

.p:hover {
    transform: scale(1.01);
    box-shadow: 10px 14px 24px 10px rgba(0, 0, 0, 0.16);

}

.c1 {
    font-size: 1.3vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
}

.services {
    display: flex;
    justify-content: space-between;
    width: 88vw;
    margin: auto;
    padding: 3.12vw 0;
    gap: 3.12vw;
}


.offer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2vw;
    font-size: 1.8vw;
    text-align: left;
}


.container {
    display: grid;
    width: 42.12vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.04vw;
    font-family: Roboto Mono;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.56vw;
    text-align: left;
}

.c {

    transform: scale(1);
    transition: all 0.12s ease-in;
}

.c:hover {
    color: #00308F;
    font-weight: bolder;
    transform: scale(1.01);
}

.about {

    width: 100%;
    height: 22.62vw;
    padding: 6.24vw 0;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text {
    width: 58.5vw;
    height: 10.14vw;
    font-family: Bebas Neue;
    font-size: 3.12vw;
    font-weight: 400;
    line-height: 3.4vw;
    text-align: center;
}

.mywork {
    background-image: url("image.png");
    background-size: cover;
    width: 100%;
    height: 45.37vw;
    display: flex;
    justify-content: start;
    align-items: end;

}

.content {
    height: 17.16vw;
    padding-bottom: 3.12vw;
    gap: 3.12vw;
    margin-left: 6.24vw;
}

.t_content {
    width: 58.5vw;
    height: 7.8vw;
    margin-bottom: 2.6vw;
}

.t1 {
    width: 58.5vw;
    height: 2.6vw;
    margin-bottom: 1.04vw;
    font-family: Bebas Neue;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 2.6vw;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.t2 {
    width: 58.5vw;
    height: 4.16vw;
    font-family: Roboto Mono;
    font-size: 1.56vw;
    font-weight: 400;
    line-height: 2.08vw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.button {
    width: 13.3vw;
    height: 3.12vw;
    text-align: center;
    padding: 0.78vw;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);

    font-family: Roboto Mono;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.56vw;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.getintouch {

    display: flex;
    width: 88vw;
    height: 13vw;
    padding: 3.12vw 0px;
    margin: 6.24vw auto;
    justify-content: space-between;

}

.touch1 {
    width: 40.56vw;
    height: 3.38vw;
    font-family: Bebas Neue;
    font-size: 3.12vw;
    font-weight: 400;
    line-height: 3.38vw;
    letter-spacing: -0.01em;


}

.touch2 {
    width: 40.56vw;
    height: 6.24vw;

    font-family: Roboto Mono;
    font-size: 1.56vw;
    font-weight: 400;
    line-height: 2.08vw;
    letter-spacing: -0.005em;


}

.d {
    width: 100%;
    height:0.0625vw;
    background-color: rgb(16, 16, 16);

}

.contact {
    width: 88vw;
    height: 45.5vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact_main {
    width: 26vw;
    height: 19.24vw;
    margin: 2.08vw;
}

.contact1 {
    width: 26vw;
    height: 5.2vw;
    margin: 0.52vw;

}

.c_text {
    width: 26vw;
    height: 2.08vw;
    font-family: Bebas Neue;
    font-size: 1.82vw;
    font-weight: 400;
    line-height: 2.08vw;
    letter-spacing: -0.01em;
    text-align: center;
}
.c_para {
    width: 26vw;
    height: 2.6vw;
    margin-top: 0.65vw;
    font-family: Roboto Mono;
    font-size: 0.975vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: center;
}

.contact2 {
    display: grid;
    justify-items: center;
    width: 23.4vw;
    height: 4.16vw;
    grid-template-columns: repeat(5, 1fr);
    margin: 2.14vw;
}
.input {
    width: 3.64vw;
    height: 4.16vw;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.52vw 0;
    border-radius: 0.52vw;
    border: 0.075vw solid rgba(0, 0, 0, 1)
}

.contact3 {
    width: 26vw;
    height: 2.34vw;
    padding: 0.52vw 1.04vw;
    border-radius: 0.52vw;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto Mono;
    font-size: 0.975vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;

}

.contact4 {
    width: 26vw;
    height: auto;

    font-family: Roboto Mono;
    font-size: 0.975vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 2vw;
    cursor: pointer;

}
.footer {
    width: 88vw;
    height: 10.92vw;
    padding: 6.24vw 0px 1.56vw 0px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.f1 {
    width: 8.2vw;
    height: 2.08vw;
    font-family: Bebas Neue;
    font-size: 1.82vw;
    font-weight: 400;
    line-height: 2.08vw;
    letter-spacing: -0.01em;


}
.f2 {
    width: 10.2vw;
    font-family: Roboto Mono;
    font-size: 1.3vw;
    font-weight: 400;

    height: 3.12vw;
    padding: 0.78vw;
    border-radius: 0.52vw;
    text-align: center;
    border: 0.065vw solid rgba(0, 0, 0, 1);
    cursor: pointer;


}

f2 {
    transition: border 0.15s ease-in;
}

.f2:hover {
    border: 0.13vw solid #5D3FD3;
}